header {
	background-color: #eeeeee;
	margin-bottom: 10px;
}

.navigation ul li a {
	padding: 50px 12px 50px 12px;
}

form fieldset {
	margin-bottom: 20px;
}

#slider {
	margin-top: 0;
	padding-bottom: 20px;
}

#slider * img {
	width: 620px;
	height: auto;
	max-height: 400px;
}

body {
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	color: #333333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Serif', Georgia, Times, serif;
	text-shadow: 0 1px 0 #EEEEEE;
}

ul.pagination {
	list-style-type: none;
	padding: 0;
}

ul#toggle-view {
	list-style-type: none;
	padding: 0;
	margin-top: -10px;
}

ul#toggle-view .panel {
	background-color: #EEEEEE;
}

ul.slides {
	text-align: center;
}

ul.slides img {
	height: 425px;
}

.flex-container {
	margin-bottom: 10px;
}

.social-section a {
	display: inline-block;
	margin: 5px 0 0 10px;
}

.social-section a i:before {
	font-size: 34px;
	color: #98cb00;
}

.social-section a:hover i:before {
	color: #729800;
}

a {
	text-decoration: none;
	color: #98cb00;
}

a:hover {
	color: #729800;
	text-decoration: underline;
}

p {
	margin-bottom: 15px;
}