/* -----------------------------------------
	 Main Styles
----------------------------------------- */
body {
	background-color: #EEEEEE;
	background-image: url('../img/bg.png');
	background-repeat: repeat;
	background-position: left top;
	background-attachment: fixed;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

/* ===[ Selection colors ]=== */
::selection {
	background: #587600;
	color: #FFFFFF;
}
::-moz-selection {
	background: #587600;
	color: #FFFFFF;
}

/* ===[ Foundicon font ]=== */
@font-face {
	font-family: 'General Foundicons';
	src: url('fonts/general_foundicons.eot');
	src: url('fonts/general_foundicons.eot?#iefix') format('embedded-opentype'),
		 url('fonts/general_foundicons.woff') format('woff'),
		 url('fonts/general_foundicons.ttf') format('truetype'),
		 url('fonts/general_foundicons.svg#generalfoundicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ===[ Links ]=== */
a {
	color: #0099CB;
	border-bottom: 1px dotted #BBBBBB;
}

a:hover {
	color: #005976;
}

/* ===[ Headings ]=== */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Serif', Georgia, Times, serif;
	text-shadow: 0 1px 0 #EEEEEE;
}

/* ===[ Other Elements ]=== */
hr {
	border: none;
	background: #98CB00;
	background: -webkit-gradient(linear, left top, left bottom, from(#98CB00), to(#7FA900));
	background: -webkit-linear-gradient(top, #98CB00, #7FA900);
	background: -moz-linear-gradient(top, #98CB00, #7FA900);
	background: -ms-linear-gradient(top, ##98CB00, #7FA900);
	background: -o-linear-gradient(top, #98CB00, #7FA900);
	background-image: -ms-linear-gradient(top, #98CB00 0%, #7FA900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="#98CB00", EndColorStr="#7FA900");
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	border-radius: 5px;
	padding: 2px;
}

/* -----------------------------------------
	 Navbar
----------------------------------------- */
.nav-bar {
	text-align: left;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.nav-bar .flyout li {
	border-color: #98CB00;
}

/* ===[ Get rid of bottom border for links not in a body of text ]=== */
.nav-bar li a, .tabs dd a, li a, .post a:first-child {
	border-bottom: none;
}

/* -----------------------------------------
	 Header
----------------------------------------- */
header {
	text-align: center;
	padding-top: 30px;
}

/* -----------------------------------------
	 Sidebar
----------------------------------------- */
.sidebar h4 {
	text-align: center;
}

.sidebar .side-pane {
	border-radius: 4px;
	background-color: #FFFFFF;
	padding: 10px;
	margin: 5px 0;
	border: solid 1px #C0C0C0;
}

.sidebar .side-section {
	margin: 20px 0;
}

.sidebar .side-section:first-child {
	margin-top: 0;
}

/* -----------------------------------------
	 Post
----------------------------------------- */
.post, .post-teaser {
	border-radius: 4px;
	background-color: #FFFFFF;
	padding: 15px;
	margin-bottom: 35px;
	border: solid 1px #C0C0C0;
}

/* ===[ Post info box ]=== */
.pt-infobox {
	float: right;
	position: relative;
	top: -15px;
	left: 15px;
	color: #666666;
	background-color: #EEEEEE;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border: dashed 1px #666666;
	border-right: none;
	border-top: none;
	width: 150px;
	padding: 5px;
}

.pt-infobox ul {
	list-style: none;
}

.pt-infobox ul li {
	clear: both;
	float: left;
	font-size: 12px;
}

.pt-infobox ul li:before {
	display: inline;
	font-family: "General Foundicons";
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	width: 1.5em;
	padding-right: 5px;
}

.pt-infobox ul li.date:before { content: "" }
.pt-infobox ul li.category:before { content: "" }

/* -----------------------------------------
	 Footer
----------------------------------------- */
footer {
	text-align: center;
	margin-top: 20px;
}

/* -----------------------------------------
	 Panels
----------------------------------------- */
.panel {
	border-radius: 4px;
	background-color: #EEEEEE;
	border-color: #DDDDDD;
}

.panel.green {
	background-color: #98CB00;
	border-color: #7FA900;
}

.panel.blue {
	background-color: #0099CB;
	border-color: #007FA9;
}

.panel.orange {
	background-color: #FF6F0F;
	border-color: #EC5E00;
}

.panel.yellow {
	background-color: #FFCC00;
	border-color: #ddb100;
}

/* -----------------------------------------
	 Image slider
----------------------------------------- */
/* ===[ Image loading panel ]=== */
#featured {
	height: 300px;
	background-color: #98CB00;
	background-image: url('../img/foundation/orbit/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
}
#featured img { display: none; }
#featured.orbit { background: none; }
#featured.orbit img { display: block; }

/* ===[ Slider navigation appears on hover ]=== */
.orbit-wrapper .slider-nav span {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	-o-transition: opacity 400ms;
	transition: opacity 400ms;
}

.orbit-wrapper:hover .slider-nav span {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

#featuredContent { background-color: #98CB00; }

/* -----------------------------------------
	 Special H3 Ribbon
----------------------------------------- */
h4.ribbon {
	position: relative;
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	background: #98CB00;
	background: -webkit-gradient(linear, left top, left bottom, from(#98CB00), to(#7FA900));
	background: -webkit-linear-gradient(top, #98CB00, #7FA900);
	background: -moz-linear-gradient(top, #98CB00, #7FA900);
	background: -ms-linear-gradient(top, ##98CB00, #7FA900);
	background: -o-linear-gradient(top, #98CB00, #7FA900);
	background-image: -ms-linear-gradient(top, #98CB00 0%, #7FA900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="#98CB00", EndColorStr="#7FA900");
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	border-radius: 5px;
	overflow: hidden;
}
h4.ribbon > span {
	width: 100%;
	margin: 0;
	display: inline-block;
	padding: 10px 30px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.15), 
				inset 0px -1px 1px rgba(255, 255, 255, 0.15),
				0px 1px 1px rgba(255, 255, 255, 0.1),
				0px -1px 1px rgba(255, 255, 255, 0.15);
}

/* -----------------------------------------
	 Post Tags
----------------------------------------- */
.tags{
	margin: 0;
	padding: 0;
	position: relative;
	top: -3px;
	list-style: none;
	float: right;
}

.tags li {
	margin: 5px 0;
}

.tags li, .tags a{
	float: left;
	height: 26px;
	line-height: 26px;
	position: relative;
}

.tags a{
	margin-left: 20px;
	padding: 0 10px 1px 14px;
	background-color: #98CB00;
	color: #333333;
	text-decoration: none;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.tags a:before{
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -12px;
	width: 0;
	height: 0;
	border-color: transparent #98CB00 transparent transparent;
	border-style: solid;
	border-width: 13px 12px 13px 0;	
}

.tags a:after{
	content: "";
	position: absolute;
	top: 11px;
	left: 0;
	float: left;
	width: 5px;
	height: 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #EEEEEE;
	-moz-box-shadow: -1px -1px 2px #587600;
	-webkit-box-shadow: -1px -1px 2px #587600;
	box-shadow: -1px -1px 2px #587600;
}

.tags a:hover{
	background-color: #333333;
	color: #EEEEEE;
}

.tags a:hover:before{
	border-color: transparent #333333 transparent transparent;
}

/* -----------------------------------------
   Editor
----------------------------------------- */
.redactor_box {
	margin-bottom: 20px;
}

/* -----------------------------------------
   Forms
----------------------------------------- */
/* ===[ Fieldset ]=== */
fieldset {
	border-color: #4D4D4D;
}

fieldset legend {
	background-color: transparent;
}